<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  <property name="show_sql">false</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/imobiliaria</property>
  <property name="hibernate.connection.username">imobiliaria</property> 
  <property name="hibernate.connection.password">imob@2019</property>
  <property name="hibernate.hbm2dll.auto">update</property>
  <property name="hibernate.c3p0.max_size">20</property>
  <property name="hibernate.c3p0.min_size">10</property>
  <property name="hibernate.c3p0.timeout">110</property>
  <property name="hibernate.c3p0.max_statements">10</property>
  <property name="hibernate.c3p0.idle_test_period">3000</property>
  <property name="hibernate.c3p0.acquire_increment">5</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.Arquivo"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.Bairro"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.Cidade"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.Fase"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.ItemEmpreendimento"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.ItemUnidade"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.Log"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.Midia"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.Pessoa"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.TipoArquivo"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.TipoEmpreendimento"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.TipoLog"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.Unidade"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.UnidadeItem"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.Usuario"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.TipoUnidade"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.Banner"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.Consultor"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.FaleConosco"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.Caracteristicas"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.CarateristicasImovel"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.Visita"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.Configuracao"/>
  <mapping class="br.com.imobiliariapo.imobiliaria.modelo.vwUnidades"/>
 </session-factory>
</hibernate-configuration>
